*.o
*.exe
*.dll
*.so
*.zip
*.iss
nimcache
lib/nimcache
tools/nimcache
tests/nimcache
tests/accept/run/nimcache
tests/accept/compile/nimcache
tests/reject/nimcache
rod/nimcache
rod/c2nim/nimcache
rod/pas2nim/nimcache
rod/tinyc
misc
doc/*.html
web/upload/*.html

