-d:booting

@if solaris and amd64:
  @if gcc or clang:
    # Bootstrap compilers lack automatic Solaris/amd64 target flags.
    # Remove these flags once csources includes compiler/extccomp.nim's targetOptions.
    passC: "-m64"
    passL: "-m64"
  @end
@end

@if openbsd:
  # because openbsd getAppFilename was broken in v0.20.0
  # workaround see https://github.com/nim-lang/Nim/pull/14291
  --lib:lib
@end
