# Special configuration file for the Nim project

gc:orc

hint[XDeclaredButNotUsed]:off

path:"$lib/packages/docutils"

define:useStdoutAsStdmsg
define:nimsuggest
define:nimcore

#define:useNodeIds
#define:booting
#define:noDocgen
--path:"$nim"
--threads:on
--warningAserror:ProveInit
--warningAserror:Uninit

