# Special configuration file for the Nim project

gc:markAndSweep

hint[XDeclaredButNotUsed]:off

path:"$lib/packages/docutils"

define:useStdoutAsStdmsg
define:nimsuggest
define:nimcore

# die when nimsuggest uses more than 4GB:
@if cpu32:
  define:"nimMaxHeap=2000"
@else:
  define:"nimMaxHeap=4000"
@end

#define:useNodeIds
#define:booting
#define:noDocgen
--path:"$nim"
--threads:on
