/* global */
html{height: 100%;}

body
{ font-family: verdana, arial, sans-serif;
  padding: 0px;
  margin: 0px;
  font-size: .70em;
}

pre, tt
{
  font-size: 130%;
}

p
{ margin: 0px;
  padding: 0px 0px 16px 0px;
  line-height: 1.7em;
}

#column2 h1
{ font-family: arial, sans-serif;
  letter-spacing: .1em;
}

#column2 h2
{ margin: 0px;
  padding: 0px 0px 4px 0px;
  font-size: 100%;
}

img{border: 0px;}

a.reference{outline: none;}

/* image positioning - left, right and center */
.left
{ float: left;
  padding: 0px 8px 0px 0px;
}

.right
{ float: right;
  padding: 0px 0px 0px 8px;
}

.center
{ display: block;
  text-align: center;
  margin: 0 auto;
}

/* block quote */
blockquote
{ margin: 20px 0px 20px 0px;
  padding: 10px 20px 0px 20px;
  border-left: 8px solid;
}

/* unordered list */
ul
{ margin: 2px 0px 16px 16px;
  padding: 0px;
}

ul li
{ list-style-type: square;
  margin: 0px 0px 6px 0px;
  padding: 0px;
}

/* ordered list */
ol
{ margin: 8px 0px 0px 24px;
  padding: 0px;
}

ol li
{ margin: 0px 0px 11px 0px;
  padding: 0px;
}

/* main container */
#main
{ width: 780px;
  margin-left: auto;
  margin-right: auto;
}

/* links above the logo / footer */
#links, #footer
{ margin-left: auto;
  margin-right: auto;
  padding: 10px 21px 0px 19px;
  width: 720px;
  height: 26px;
  font-size: 94%;
  text-transform: uppercase;
}

#links{text-align: right;}

#footer{text-align: center;}

#links a.reference, #footer a.reference{text-decoration: none;}

#links a.reference:hover, #footer a.reference:hover{text-decoration: underline;}

/* logo */
#logo
{ margin-left: auto;
  margin-right: auto;
  width: 760px;
  height: 100px;
  text-align: left;
}

#logo h1
{ margin: 0px;
  padding: 41px 0px 0px 19px;
  font-size: 150%;
  letter-spacing: .2em;
}

/* navigation menu */
#menu
{ height: 42px;
  width: 760px;
  margin-left: auto;
  margin-right: auto;
}

#menu ul{margin: 0px auto;}

#menu li
{ float: left;
  margin: 0px;
  padding: 0px;
}

#menu li a, #menu li a:visited
{ display: block;
  float: left;
  height: 37px;
  text-decoration: none;
  padding: 3px 19px 2px 19px;
  text-transform: uppercase;
  color: #DBD7D1;
}

/* main content */
#content
{ margin-left: auto;
  margin-right: auto;
  width: 760px;
  height: auto;
  padding: 0px;
  overflow: hidden;
}

/* column 1 - contains sidebar items */
#column1
{ width: 207px;
  float: right;
  padding: 16px 0px 15px 0px;
}

.sidebaritem
{ text-align: left;
  width: 188px;
  float: left;
  margin: 0px 0px 25px 0px;
}

.sbihead
{ height: 14px;
  width: 188px;
  padding: 5px 0px 5px 19px;
  text-transform: uppercase;
}

.sbihead h1
{ padding: 0px;
  margin: 0px;
  font-weight: bold;
  font-size: 112%;
}

#column1 h1 a, #column1 h1 a:hover, #column1 h1 a:visited
{
  text-decoration:none;
  font-size: 80%;
}

.sbicontent{padding: 14px 8px 8px 19px;}

.sbicontent p
{ line-height: 14px;
  padding: 0px 0px 8px 0px;
}

.sbilinks{padding: 0px;}

.sbilinks ul{margin: 0px auto;}

.sbilinks li
{ margin: 0px;
  float: left;
  list-style: none;
}

.sbilinks li a.reference , .sbilinks li a.reference:hover
{ float: left;
  height: 16px;
  text-decoration: none;
  padding: 5px 0px 4px 19px;
  width: 188px;
  border: 0px;
}

/* column 2 - page content */
#column2
{ text-align: justify;
  width: 512px;
  float: left;
  padding: 12px 3px 15px 19px;
}

#column2 h1
{ padding: 6px 0px 4px 0px;
  margin: 0px 0px 12px 0px;
  border-bottom: 1px solid;
  /* font-size: 150%; */
  text-transform: uppercase;
  font-weight: normal;
}

.sidebaritem a.reference , .sidebaritem a.reference:hover
{ padding: 0px 0px 2px 0px;
  text-decoration: none;
  border-bottom: 1px dashed;
}

.sidebaritem a.reference:hover{border-bottom: 1px solid;}

/* contact page - form layout */
form{margin-top: 0px;}

div.row
{ clear: both;
  width: 448px;
}

div.row span.formlabel
{ float: left;
  width: 150px;
  text-align: left;
}

div.row span.forminput
{ float: right;
  text-align: right;
}

div.spacer
{ clear: both;
  width: 80px;
}

input, textarea
{ width: 259px;
  font-family: verdana, arial, sans-serif;
  border: 1px solid;
  font-size: 100%;
  margin: 2px;
}

.submit
{ font-family: verdana, arial, sans-serif;
  border: 1px solid;
  width: 70px;
  height: 22px;
  cursor: pointer;
  font-size: 100%;
}

html{height: 100%;}

body
{ background: #837560;
  color: #70695A;
}

blockquote
{ background: #FFFFFF;
  color: #70695A;
  border-color: #767676;
}

#main
{ background: #FFFFFF url(back.png) repeat-y;
  color: #70695A;
}

#links, #footer, #menu, #menu li a.reference
{ background: #FFFFFF url(menu.png);
  color: #DBD7D1;
  border-color: #D7D7D7;
}

#links a.reference, #footer a.reference,
#links a.reference:hover, #footer a.reference:hover
{ background: transparent;
  color: #DBD7D1;
}

#logo
{ background: #FFFFFF url(logo.jpg) no-repeat;
  color: #70695A;
}

#logo h1
{ background: transparent;
  color: #FFFFFF;
}

#column2 h1, #column2 h1 a.reference,
#column2 h2, #column2 h2 a.reference
{ background: transparent;
  color: #CE7014;
  border-color: #CAAE90;
  font-size: 150%;
}

#column2 h2, #column2 h2 a.reference {
  font-size: 110%;
}

#menu li a:hover, #menu li a#selected,
#menu li a#selected:hover
{ background: #FFFFFF url(menu_hover.png);
  color: #70695A;
}

#content
{ background: transparent;
  color: #111; /* #70695A; */
}

#column2 a.reference, #column2 a.reference:hover {
  color: #fb7f03;
}

#column2 a.reference:visited {
  color: #7b5224;
}

.sidebaritem, .sidebaritem a.reference, .sidebaritem a.reference:hover
{ background: transparent;
  color: #DBD7D1;
}

.sbihead
{ background: #FFFFFF url(sbi_header.png);
  color: #70695A;
}

.sbihead h1
{ background: transparent;
  color: #70695A;
}

.sbilinks li a.reference
{ background: #FFFFFF url(link.png);
  color: #DBD7D1;
}

.sbilinks li a.reference:hover
{ background: #B7B7B7;
  color: #CE7014;
}

input, textarea
{ background: #FFFFFF;
  color: #70695A;
  border-color: #CAAE90;
}

span.Q { 
  font-size: 120%;
  font-weight: bold;
}

span.newsdate { 
  font-size: 110%;
  font-weight: bold;
}
