# Special configuration file for the Nim project
# gc:markAndSweep

hint[XDeclaredButNotUsed]:off
path:"$projectPath/.."

path:"$lib/packages/docutils"
path:"$nim"

define:useStdoutAsStdmsg
symbol:nimfix
define:nimfix

cs:partial
#define:useNodeIds
define:booting
define:noDocgen
