#! stdtmpl | standard
#proc generateHTMLPage(c: var TConfigData, currentTab, content: string): string = 
#  result = ""
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  <title>$c.projectTitle</title>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
  <link rel="stylesheet" type="text/css" href="style/style.css" />
</head>

<body>
  <div id="main">
    <div id="links">
      <!-- **** INSERT LINKS HERE **** -->
    </div>
    <div id="logo"><h1>$c.projectTitle</h1>
    <h2>$c.logo</h2>
    </div>
    <div id="content">
      <div id="menu">
        <ul>
#for i in 0.. c.tabs.len-1:
#  var name = c.tabs[i].key
#  var t = c.tabs[i].val
  #if currentTab == t:
  <li><a id="selected" 
  #else:
  <li><a
  #end if
  href="${t}.html" title = "$c.projectName - $name">$name</a></li>
#end for
        </ul>
      </div>
      <div id="column1">
#  if len(c.ticker) > 0:
        <div class="sidebaritem">
          <div class="sbihead">
            <h1>latest news</h1>
          </div>
          <div class="sbicontent">
            $c.ticker
          </div>
        </div>
#  end if
#  if len(c.links) > 0:
        <div class="sidebaritem">
          <div class="sbihead">
            <h1>Links</h1>
          </div>
          <div class="sbilinks">
            <ul>
#          for i in 0..c.links.len-1:
             <li><a class="reference" href="${c.links[i].val}">${c.links[i].key}</a></li>
#          end for
            </ul>
          </div>
        </div>
#  end if
      </div>
      <div id="column2">
      $content
      </div>
    </div>
    <div id="footer">
       &copy; 2012 $c.authors | Last update: ${getDateStr()}
  <!--    |             <iframe style="border: 0; margin: 0; padding: 0;"
                    src="https://www.gittip.com/Araq/widget.html" 
                    width="48pt" height="15pt"></iframe> -->

      | <a class="reference" href="http://www.dcarter.co.uk">design by dcarter</a>
    </div>
  </div>
</body>
</html>
