
a:link {
  color: #454892;
}
a:visited {
  color: #665556;
}
p {
  text-align: justify;
}
font.type {
  color: #107020;
}
font.func {
  color: #1010a0;
}
font.arg {
  color: #906000;
}
font.qual {
  color: #501050;
}
tr.title {
  background: #cbc5b8;
}
tr.even {
  background: #dbdbdb;
}
tr.odd {
  background: #ebebee;
}
div.code {
  background: #e0e0f0;
  padding: 10px;
}
